
<div class="container mt-2" style="width: 300px" >
<mat-dialog-actions>
  <button mat-button-icon mat-dialog-close class="Close"  style="margin-left: 220px;">x</button>
</mat-dialog-actions>
<mat-dialog-content>
    <!-- Welcome to Attendance Management System... -->
    Registration Successfull!!
    </mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="justify-content-center"  style="left: 90px">Close</button>
  <!-- <button mat-button-icon mat-dialog-close class="Close"  style="margin-left: 160px;">x</button> -->
</mat-dialog-actions>

</div>





