
<!--
<p> Registration Successfull!! </p> 
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<button type="button" class="btn-close" aria-label="Close"></button>
-->

<!-- Angular Material -->
<!-- <button mat-button (click)="openDialog()">Launch dialog</button> -->

<div class="container mt-2" style="width: 300px" >
<mat-dialog-actions>
  <button mat-button-icon mat-dialog-close class="Close"  style="margin-left: 220px;">x</button>
</mat-dialog-actions>
<!-- <h2 mat-dialog-title>Registration Successfull!! </h2> -->
<mat-dialog-content>
    <!-- Welcome to Attendance Management System... -->
    Registration Successfull!!
    </mat-dialog-content>
<mat-dialog-actions>
  <!-- need to check this button on UI  
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->

  <button mat-button mat-dialog-close class="justify-content-center"  style="left: 90px">Close</button>
  <!-- <button mat-button-icon mat-dialog-close class="Close"  style="margin-left: 160px;">x</button> -->
</mat-dialog-actions>

</div>





