<div class="dialog-container" >
  <div mat-dialog-content class="dialog-content">
    <div class="dialog-form-field">
      <mat-label class="justify-content-center" style="color: black;" > {{ title }} </mat-label>
    </div>
    <br>

      <mat-label style="color: black;">Start : {{start}} </mat-label><br>
   
      <mat-label style="color: black;">End : {{end}} </mat-label> <br>    

      <h5 style="color: black;">Notes : </h5>

      <textarea matInput [(ngModel)]="notes" placeholder="Enter some keypoints..."></textarea>

    <h5 style="color: black;">Update Attendance</h5>
    <mat-radio-group [(ngModel)]="attended">
        <mat-radio-button value="true" style="font-style: normal;">
          <h5>Present</h5></mat-radio-button>
        <mat-radio-button value="false"><h5>Absent</h5></mat-radio-button>
      </mat-radio-group>
    
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="btn-primary"  color="primary" (click)="onSave()">Save</button>
  </div>
  </div>
</div>
