<div class="container" style="margin-top: 10px;">
    <div class="card">
        <div class="text-center">
            <img src="assets/Image/Student Image.png" class="img-rounded" alt="">
        </div>
        <h1 class="text-center" style="color: black;">
            Mumbai University
        </h1>
        <div class="container mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card-body">
                        <!-- <div class="card-body"> -->
                        <!-- <div class="panel panel-default panel-custom">
                <div class="panel-body"> -->
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input type="email" class="form-control" formControlName="email" placeholder="Email"
                                    [ngClass]="{'is-invalid' : email.invalid && email.touched}" autocomplete="nope"
                                    style="margin-right: 0%;" />
                                <small *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                                    <div *ngIf="email.errors?.['email']">Email should be valid.</div>
                                </small>
                            </div>

                            <br>
                            <div class="form-group">
                                <!-- <input type="password" class="form-control" formControlName="password" placeholder="Password"  [ngClass]="{'is-invalid' : password.invalid && password.touched}" (focus)="onPasswordFocus()" (blur)="onPasswordBlur()"/>

                            <div *ngIf="showPasswordRequirements" class="alert alert-info" >
                                Password must contain at least one uppercase letter, one lowercase letter, one number, and be at least 8 characters long.
                            </div> -->


                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="Password" (input)="onPasswordInput()" (blur)="onPasswordBlur()" />

                                <small *ngIf="password.invalid && (password.dirty || password.touched)"
                                    class="text-danger">
                                    <div *ngIf="password.errors?.['required']">Password is required.</div>
                                    <div *ngIf="password.errors?.['minlength']">Password must be at least 8 characters
                                        long.
                                    </div>
                                    <div *ngIf="!password.errors?.['pattern']">Password must contain at least one
                                        uppercase
                                        letter, one lowercase letter, and one number.</div>
                                </small>
                            </div>

                            <br>
                            <button type="submit" class="btn btn-outline-primary" 
                                style="margin-left:200px">
                                Login
                            </button>


                            <!-- <button type="submit" class="btn btn-outline-primary"  style="margin-left:240px" > Login  </button> -->

                            <br><br>
                            <div class="mt-2">
                                <a routerLink="/register" style="margin-left: 400px">Register</a>
                            </div>
                        </form>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>